body {
	background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
	font-family: "Work Sans", sans-serif;
	margin: 0 auto;
}

a {
	text-decoration: none;
}

h1, h2, h3 {
	font-family: "Ubuntu", sans-serif;
}

nav {
	display: inline-flex;
	background-color: black;
	justify-content: center;
	width: 100%;
	z-index: 1;
}

nav ul {
	display: flex;
	align-items: center;
	padding: 0 10%;
	list-style: none;
}

nav ul li a {
	font-size: 16px;
	padding: 0 15px;
	color: ghostwhite;
	transition: 0.2s;
	text-transform: uppercase;
}

nav ul li a:hover {
	transition: .02s;
	color: lightblue;
}

.container {
	position: relative;
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding 0 15px
}

.hero {
	padding-top: 50px;
}

.hero img {
	border-style: none;
	border-radius: 50%;
	margin: 0 auto;
	max-width: 440px;
	max-height: 440px;
	display: block;
}

h1 {
	color: black;
	text-align: center;
	font-size: 24px;
	margin: 30px 0px 100px;
}

h2 {
	font-weight: bold !important;
}

.aboutme {
	width: 90%;
	max-width: 1200px;
	height: auto;
	background-color: ghostwhite;
	text-align: center;
	padding: 40px 50px 70px;
	margin: 0 auto;
	box-shadow: 10px 10px 0px rgb(0, 0, 0), -10px -10px 0px rgb(255, 114, 114);
}

.aboutme-section {
	padding: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-flow: wrap;
}

.aboutme-image {
	height: 450px;
	width: 400px;
	background-image: url("Andrew profile pic.jpg");
	background-size: cover;
	background-position: center;
}

.aboutme-text {
	height: auto;
	width: 40%;
	margin: 5px 5px 5px 5px;
	text-align: left;
}

.aboutme-text ul li a {
	text-decoration: none;
}

#projects {
	padding: 5px;
	margin: 5%;
	width: 90%;
	height: auto;
	text-align: center;
}

.projects {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-flow: wrap;
}

#projects h2 {
	color: white;
}

.content {
	color: black;
}

.button {
	border: 5px solid lightblue;
	border-radius: 10px;
	width: 160px;
	margin-bottom: 100px;
	margin-left: 10px;
}

.contact {
	width: 100%;
	height: auto;
	padding: 75px 0 50px 0;
	text-align: center;
	background-color: rgb(3,3,3,45%);
}

.contact p {
	margin-bottom: 50px;
}

.contact h2, .contact p {
	color: white;
}

.contact-form {
	max-width: 800px;
	display: flex;
	text-align: left;
	max-width: 1100px;
	margin: 0 auto;
	color: white;
}
.contact-form label {
	display: block;
	margin-bottom: 9px;
}

.message {
	display: flex;
	flex-direction: column;
	width: 60%;
}

.message textarea {
	border-radius: 5px;
	border: 0px;
	height: 75%;
}

.contact-details {
	flex: 1;
	margin-right: 50px;
}

.contact-details input {
	width: 250px;
	border-radius: 5px;
	border: 0px;
	padding: 15px 20px;
	margin-bottom: 20px;
}

.message button {
	color: #1d3d5f;
	border: 0;
	border-radius: 5px;
	background: lightblue;
	width: 140px;
	height: 40px;
	margin-top: 40px;
	margin-left: auto;
	text-transform: uppercase;
	font-weight: bold;
	cursor: pointer;
	transition: 0.3s;
}

.message button:hover {
	background: black;
	color: white;
	transition: 0.2s;
}

footer {
	height: 90px;
	background-color: black;
}

footer .container {
	display: flex;
	align-items: center;
	height: 100%;
}

.social-media {
	font-size: 200%;
	width: auto;
	margin-left: auto;
}

.social-media a i {
	color: white;
	transition: 0.2s;
}

.social-media a i:hover {
	color: lightblue;
	transition: 0.2s;
}

.copyright {
	color: white;
}